<table class="table table-fixed">
    <thead>
        <tr>
            <th class="col-2">Fecha</th>
            <th class="col-8">Descripción</th>
            <th class="col-2">Monto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rowData of mockedData;">
            <td class="col-2"> {{ rowData.fecha }} </td>
            <td class="col-8"> {{ rowData.descripcion }} </td>
            <td [attr.class]="'col-2 amount ' + rowData.tipo">
                {{ rowData.monto | currency }}
            </td>
        </tr>
    </tbody>
</table>