@import 'src/app/utils/styles/base';

:host {
    display: flex;
    align-items: center;
}

.logo {
    width: 2.1rem;
    height: 2.1rem;
    border-width: 0.4rem;
    border-style: solid;
    border-radius: 50%;
    border-color: inherit;
    margin-right: 0.7rem;
}

.text-logo {
    font-size: 1.3rem;
    color: inherit;
    margin-top: -0.2rem;
}
