@import 'src/app/utils/styles/base';

:host {
    display: flex;
    height: 5rem;
    padding: 0rem 1.3rem;
}

div {
    width: 33%;
    display: flex;
    align-items: center;
}

.logo {
    .logo-label {
        font-size: 0.9rem;
        margin-left: 0.4rem;
        color: $gray;
        display: none;
    }
}

.button-section {
    justify-content: center;

    .menu-option {
        border: 0;
        height: 100%;
        min-width: 10rem;
        color: $medium-gray;
        font-size: 1.1rem;
        font-weight: bold;
        background-color: white;
    
        &.selected {
            background-color: $light-gray;
            color: $green;
        }
    }
}

.user-info-section {
    justify-content: right;
}

@include bp-large {
    .logo {
        .logo-label {
            display: block;
        }
    }
}
