// Color Palette

// Green Schema
$green: #07be92;
$disable-green: #a1e2d2;

// Blue Schema
$blue: #0592bf;
$blue-background: #01455c;

// Gray Schema
$gray: #7b9093;
$medium-gray: #aebcbd;
$light-gray: #f5f5f5;

// Red Schema
$red: #b91949 